.btn {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 7px;
  padding: 7px 10px;
  font-weight: 400;
}
.btn-default:hover {
  background-color: var(--overlay-color);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}

.btn-discard {
  color: #fff;
  background-color: var(--red);
}
