.modal .container {
  width: 50%;
}

.modal.edit-todo-modal .body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.modal.edit-todo-modal .body p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal .body .checklist {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal .body .checklist-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .body .checklist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: var(--section-padding);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.modal .body .new-item {
  display: flex;
  gap: 5px;
}
.modal .body .new-item input {
  flex: 1;
  border: 1px solid var(--border-color);
}
.modal .body .new-item button {
  border: 1px solid var(--border-color);
}
