header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

header .title {
  display: flex;
  align-items: center;
  align-self: self-start;
  gap: 10px;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

header .description {
  display: flex;
  align-items: center;
  align-self: self-start;
  line-height: 2;
  gap: 10px;
  color: var(--sub-text-color);
  margin-bottom: 15px;
}

header .title button,
header .description button {
  display: none;
}
header .title:not(.editing):hover button,
header .description:not(.editing):hover button {
  display: flex;
}

header .title input,
header .description input {
  display: none;
  padding: 0;
}
header .title.editing span,
header .description.editing span {
  display: none;
}
header .title.editing input,
header .description.editing input {
  display: flex;
}

header .actions {
  display: flex;
  gap: 10px;
}
header .actions .create-todo {
  margin-right: auto;
}
header .actions .create-todo i {
  transition: all ease-out 0.3s;
}
header .actions .create-todo:hover i {
  transform: rotate(90deg);
}
