.modal .container {
  width: 50%;
  max-height: 70%;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 5px;
}
.project .title {
  max-width: 60%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  overflow-wrap: nowrap;
  white-space: nowrap;
  word-break: keep-all;
}
