.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: var(--section-padding);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.1s;
}

.todo-item .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--border-color);
  font-weight: 500;
  padding: 0 20px 0 10px;
}
.todo-item .date .month {
  font-size: 1.1rem;
}
.todo-item .date .day {
  font-size: 1.6rem;
}

.todo-item .content {
  flex: 1;
  padding-left: 10px;
}
.todo-item .content .description {
  color: var(--sub-text-color);
}

.todo-item.chosen {
  background-color: var(--overlay-color);
}

.todo-item:hover {
  background-color: var(--overlay-color);
}
