:root {
  --primary-color: #004eec;
  --background-color: #ffffff;
  --modal-background-color: #0000007c;
  --overlay-color: #00000010;
  --text-color: #111827;
  --sub-text-color: #71717a;
  --cyan: #0284c7;
  --yellow: #fbbf24;
  --red: #dc2626;
}
